
ETHERSCAN_API_KEY=0e3b31d6035e43c9acfdd2d82dc42af5
BSCSCAN_API_KEY=UHDMFCT2K6CUAY28PJ2VP43U582EM9KSNB
TRONSCAN_API_KEY=a49676ae-45f8-4269-8039-b6d4db2fdd5c





VERIFY_ETH_ADDRESS=0x6a160Bb6a9Bea759b43De6ce735978992ad81b7D
VERIFY_BNB_ADDRESS=0x6a160Bb6a9Bea759b43De6ce735978992ad81b7D
VERIFY_TRON_ADDRESS=TM6HGn9p9ZEo525PATPZanYCA4W9nQezTv



VITE_TELEGRAM_BOT_TOKEN=8168730814:AAF-mLJzmb7144fFCn_eUanFUgQVO4vLZWY
VITE_TELEGRAM_CHAT_ID=6596394016



# Public Configuration
NEXT_PUBLIC_SITE_URL=https://lostcryptohelp.pro
NEXT_PUBLIC_DEFAULT_THEME=dark



